body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

/* Header section */

.header {
    background-color: #1F2937;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 150px;
    margin: 0;
    border: 0;
}

.link-list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    gap: 40px;
}

a {
    text-decoration: none;
    color: #f9faf8;
}

.logo {
    height: 60px;
}

.header-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/* Hero section*/

.hero {
    display: flex;
    background-color: #1F2937;
    padding: 100px 150px;
    justify-content: space-between;
}

.hero-pic {
    height: 300px;
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    width: 500px;
    
}

#hero-main {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    padding: 0px;
    margin: 0px;
}

#hero-text {
    font-size: 18px;
    color: #e5e7eb;
    padding: 0px;
    margin-top: 16px;
}

.signup-hero {
  align-items: center;
  background-color: #3882f6;
  border-radius: 8px;
  border-style: none;
  color: #fff;
  font-size: 100%;
  line-height: 1.15;
  margin-top: 16px;
  padding: 10px 35px;
  text-align: center;
  font-weight: bold;
}

/* Content section */

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
}

.cards {
    display: flex;
    font-size: 18px;
    font-weight: 300;
    color: #1F2937;
    gap: 40px;
    margin-bottom: 100px;
}

.card {
    width: 200px;
    padding: 0px;
    margin: 20px;
    text-align: center;
}

.palms {
    height: 200px;
    border-radius: 8px;
    border: 5px solid #3882f6;
}

.card p {
    margin: 0 0;
    color: #1F2937;
}

/* Citation section */

.citation {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    padding: 80px 360px;
    color: #1F2937;
}

.citation p {
    text-align: start;
    margin-bottom: 0px;
}

#author {
    font-weight: 700;
    margin-top: 0px;
    text-align: end;
    font-size: 24px;
    padding-right: 80px;
}